@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-200;
}

@layer base {
  :root {
    --color-primary: hsl(259, 74.6%, 24.7%);
    --color-secondary: hsl(46, 96.7%, 64.5%);
    --color-bg-primary: hsl(0, 0%, 98%);
  }
}
.theme-dark {
  --color-primary: hsl(48, 96.6%, 76.7%);
  --color-secondary: hsl(272, 71.8%, 47.3%);
  --color-bg-primary: hsl(0, 0%, 14.9%);
}
.theme-blue {
  --color-primary: hsl(224, 76.3%, 48%);
  --color-secondary: hsl(25, 95%, 53.1%);
}
.theme-red {
  --color-primary: hsl(0, 72.2%, 50.6%);
  --color-secondary: hsl(142, 70.6%, 45.3%);
}
